---
layout: pages/catalog

title: 'Party & Event Rental Products in Florida - SOS Party Rental'

meta:
  title: 'Event and Party Rental Products in Florida'
  description: 'Explore our catalog of tables, chairs, tableware, arches, and more. Everything for weddings, corporate events, and special celebrations in Florida.'
  keywords: 'Event and party product rentals in Florida, table and chair rentals in Florida, tableware rentals in Florida, event arch rentals in Florida, wedding item rentals in Florida, corporate event item rentals in Florida, special celebration item rentals in Florida, SOS Party Rental catalog, event planning in Florida, event decoration in Florida, birthday decoration item rentals in Florida, Christmas event decoration item rentals in Florida.'

heading: Product Catalog
subheadings:
  description: 'We offer a wide variety of rental products, from elegant tableware and stylish decorations to essential party equipment. We have everything you need to bring your vision to life, at affordable prices tailored to your budget. With timely deliveries, flexible options, and warm, personalized service, we are the ideal partner for events of any size. Let us help you create unforgettable moments without the hassle!.'
  product_category: Product Category

tabs:
  - id: catalog-cards-accessories
    label: Accesorios
    active: false
    cards:
      - src: /images/standard-tablecloths.png
        alt: Regular Tablecloths for Events
        title: Regular Tablecloths
        prices:
          - description: Unit Price
            br: Round and Rectangular
            cost: $16.00
          - description: Unit Price
            br: Extra-Large size and Satin
            cost: $18.00

      - src: /images/spandex-tablecloths.png
        alt: Rectangular Spandex Tablecloths
        title: Rectangular Spandex Tablecloths
        prices:
          - description: Unit Price
            cost: $18.00

      - src: /images/table-runners.png
        alt: Table Runners in Various Colors
        title: Table Runners in Various Colors
        prices:
          - description: Unit Price
            cost: $8.00

      - src: /images/tablecloths.png
        alt: Tablecloths in Various Colors
        title: Tablecloths in Various Colors
        prices:
          - description: Unit Price
            cost: $6.00

      - src: /images/chair-sashes.png
        alt: Chair-sashes in Various Colors
        title: Chair-sashes in Various Colors
        prices:
          - description: Unit Price
            cost: $3.00

      - src: /images/napkins.png
        alt: Square Napkins in Various Colors
        title: Square Napkins in Various Colors
        prices:
          - description: Unit Price
            cost: $2.50 / $3.50

      - src: /images/arch-and-hoop.png
        alt: Arch and Hoop for Events
        title: Arch and Hoop
        prices:
          - description: Unit Price
            cost: $55.00

      - src: /images/decorated-arch.png
        alt: Arch Decorated with Artificial Flowers and Veils
        title: Arch Decorated with Artificial Flowers and Veils
        prices:
          - description: Unit Price
            br: Setup Not Included
            cost: $180.00
          - description: Unit Price
            br: Setup Included
            cost: $300.00

  - id: catalog-cards-tables-and-chairs
    label: Tables & Chairs
    active: true
    cards:
      - src: /images/white-folding-chair.png
        alt: White folding chair
        title: White Folding Chair
        prices:
          - description: Unit Price
            cost: $1.65

      - src: /images/resin-chair.png
        alt: White resin chair
        title: White Resin Chair
        prices:
          - description: Unit Price
            cost: $3.50

      - src: /images/gold-chiavari-chair.png
        alt: Gold Chiavari chair
        title: Gold Chiavari Chair
        prices:
          - description: Unit Price
            br: Without Cushion
            cost: $5.50
          - description: Unit Price
            br: With Cushion
            cost: $6.00

      - src: /images/barstool-chiavari.png
        alt: Clear Resin Chiavari Barstool
        title: Clear Resin Chiavari Barstool
        prices:
          - description: Unit Price
            br: Without Cushion
            cost: $10.00
          - description: Unit Price
            br: With Cushion
            cost: $13.00

      - src: /images/rectangular-tables.png
        alt: Rectangular plastic or wooden tables
        title: Rectangular Plastic or Wooden Tables.
        prices:
          - description: Unit Price 6"
            cost: $11.00
          - description: Unit Price 8"
            cost: $14.00

      - src: /images/round-table.png
        alt: White round table
        title: White Round Table
        prices:
          - description: Unit Price 48"
            cost: $11.00
          - description: Unit Price 60"
            cost: $14.00

      - src: /images/cocktail-table-with-spandex.png
        alt: Cocktail table with spandex
        title: Cocktail Table With Spandex
        prices:
          - description: Unit Price
            cost: $25.00

  - id: catalog-cards-tableware
    label: Tableware
    active: false
    cards:
      - src: /images/charger-plate.png
        alt: Round gold or silver charger plate
        title: Round Gold or Silver Charger Plate
        prices:
          - description: Unit Price
            cost: $1.50 / $2.50

      - src: /images/dinnerware.png
        alt: White dinnerware
        title: White Dinnerware
        prices:
          - description: Unit Price
            br: Dessert Plate
            cost: $0.80
          - description: Unit Price
            br: Main Plate
            cost: $0.90

      - src: /images/glassware.png
        alt: Glassware
        title: Glassware
        types_title: 'Types:'
        types:
          - Water Glass
          - Red or White Wine Glass
          - Champagne Glass
          - Whiskey Glass
          - Cocktail Glass
        prices:
          - description: Unit Price
            cost: $0.90

      - src: /images/silver-cutlery-set.png
        alt: Silver Cutlery Set
        title: Silver Cutlery Set - Fork, Knife & Spoon
        prices:
          - description: Unit Price
            cost: $3.75

      - src: /images/gold-cutlery-set.png
        alt: Gold Cutlery Set
        title: Gold Cutlery Set - Fork, Knife & Spoon
        prices:
          - description: Unit Price
            cost: $4.75
---
