/* Hero */
.bg-events-hero-img {
    background-image: url("./images/special-ocassion-events-hero-img.png");
}

/* Special Occasion events services details */
.special-occasion-events-services-details {
    background-image: url("./images/special-occasion-leaves.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1007px) {
    .special-occasion-events-services-details {
        background-image: unset;
    }
}