---
link: /en/
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="0;URL='{{ link }}'" />
  <meta name="title" content="Event Organizers and Item Rentals in Florida">
  <meta name="description"
    content="Event experts in Florida: weddings, corporate events, and celebrations of all kinds, product rentals, and personalized services at affordable prices.">
  <link rel="canonical" href="{{ link }}">
  <title>Specialists in Event Planning and Rentals in Florida</title>
</head>

<body>
  <!-- <p>This page has moved to <a href="{{ link }}">{{ link | url }}</a>.</p> -->

  {% include "components/simple-analytics.njk" %}
</body>

</html>