---
layout: pages/catalog

title: 'Alquiler de Artículos para Eventos en FL - SOS Party Rental'

meta:
  title: 'Productos en Renta para Eventos y Fiestas en Florida'
  description: 'Explora nuestro catálogo de mesas, sillas, utelería, arcos y más. Todo para bodas, eventos corporativos y celebraciones especiales en Florida.'
  keywords: 'renta de productos para eventos y fiestas en Florida, alquiler de mesas y sillas en Florida, alquiler de vajillas en Florida, renta de arcos para eventos en Florida, renta de artículos para bodas en Florida, renta de artículos para eventos corporativos en Florida, renta de artículos para celebraciones especiales en Florida, catálogo SOS Party Rental, organización de eventos en Florida, decoración de eventos en Florida, renta de artículos de decoración para cumpleaños en Florida, alquiler de artículos de decoración para eventos navideños en Florida'

heading: Catálogo de Productos
subheadings:
  description: 'Ofrecemos una amplia variedad de productos en alquiler: desde elegantes vajillas y decoraciones con estilo hasta el equipo esencial para tus fiestas. Tenemos todo lo necesario para hacer realidad tu visión, a precios accesibles y ajustados a tu presupuesto. Con entregas puntuales, opciones flexibles y un servicio cálido y cercano, somos el aliado ideal para eventos de cualquier tamaño. ¡Déjanos ayudarte a crear momentos inolvidables sin complicaciones!.'
  product_category: Categoría de Producto

tabs:
  - id: catalog-cards-accessories
    label: Accesorios
    active: false
    cards:
      - src: /images/standard-tablecloths.png
        alt: Manteles regulares para eventos
        title: Manteles Regulares
        prices:
          - description: Precio Por Unidad
            br: Redondo y Rectangular
            cost: $16.00
          - description: Precio Por Unidad
            br: Tamaño Extragrande y Satín
            cost: $18.00

      - src: /images/spandex-tablecloths.png
        alt: Manteles spandex rectangulares
        title: Manteles Spandex Rectangulares
        prices:
          - description: Precio Por Unidad
            cost: $18.00

      - src: /images/table-runners.png
        alt: Caminos para mesas en colores variados
        title: Caminos en Colores Variados
        prices:
          - description: Precio Por Unidad
            cost: $8.00

      - src: /images/tablecloths.png
        alt: Sobre-manteles en colores variados
        title: Sobre-Mantel en Colores Variados
        prices:
          - description: Precio Por Unidad
            cost: $6.00

      - src: /images/chair-sashes.png
        alt: Lazos para sillas en colores variados
        title: Lazos Sillas en Colores Variados
        prices:
          - description: Precio Por Unidad
            cost: $3.00

      - src: /images/napkins.png
        alt: Servilletas cuadradas en colores variados
        title: Servilletas cuadradas en colores variados
        prices:
          - description: Precio Por Unidad
            cost: $2.50 / $3.50

      - src: /images/arch-and-hoop.png
        alt: Arco y Aro para eventos
        title: Arco y Aro
        prices:
          - description: Precio Por Unidad
            cost: $55.00

      - src: /images/decorated-arch.png
        alt: Arco decorado con flores artificiales y velos
        title: Arco decorado con flores artificiales y velos
        prices:
          - description: Precio Por Unidad
            br: Sin Montaje Incluido
            cost: $180.00
          - description: Precio Por Unidad
            br: Con Montaje Incluido
            cost: $300.00

  - id: catalog-cards-tables-and-chairs
    label: Mesas & Sillas
    active: true
    cards:
      - src: /images/white-folding-chair.png
        alt: Silla plegable blanca
        title: Silla Plegable Blanca
        prices:
          - description: Precio Por Unidad
            cost: $1.65

      - src: /images/resin-chair.png
        alt: Silla blanca de resina
        title: Silla Blanca de Resina
        prices:
          - description: Precio Por Unidad
            cost: $3.50

      - src: /images/gold-chiavari-chair.png
        alt: Silla Chiavari dorada
        title: Silla Chiavari dorada
        prices:
          - description: Precio Por Unidad
            br: Sin Cojín
            cost: $5.50
          - description: Precio Por Unidad
            br: Con Cojín
            cost: $6.00

      - src: /images/barstool-chiavari.png
        alt: Silla alta Chiavari de resina transparente
        title: Silla alta Chiavari de resina transparente
        prices:
          - description: Precio Por Unidad
            br: Sin Cojín
            cost: $10.00
          - description: Precio Por Unidad
            br: Con Cojín
            cost: $13.00

      - src: /images/rectangular-tables.png
        alt: Mesa rectangular de plástico o madera
        title: Mesa rectangular de plástico o madera
        prices:
          - description: Precio Por Unidad 6"
            cost: $11.00
          - description: Precio Por Unidad 8"
            cost: $14.00

      - src: /images/round-table.png
        alt: Mesa redonda blanca
        title: Mesa redonda blanca
        prices:
          - description: Precio Por Unidad 48"
            cost: $11.00
          - description: Precio Por Unidad 60"
            cost: $14.00

      - src: /images/cocktail-table-with-spandex.png
        alt: Mesa alta tipo cocktail con spandex
        title: Mesa alta tipo cocktail con spandex
        prices:
          - description: Precio Por Unidad
            cost: $25.00

  - id: catalog-cards-tableware
    label: Utilería
    active: false
    cards:
      - src: /images/charger-plate.png
        alt: Plato base redondo color dorado o plateado
        title: Plato base redondo color dorado o plateado
        prices:
          - description: Precio Por Unidad
            cost: $1.50 / $2.50

      - src: /images/dinnerware.png
        alt: Vajilla blanca
        title: Vajilla blanca
        prices:
          - description: Precio Por Unidad
            br: Plato Pastelero
            cost: $0.80
          - description: Precio Por Unidad
            br: Plato Principal
            cost: $0.90

      - src: /images/glassware.png
        alt: Cristalería
        title: Cristalería
        types_title: 'Tipos:'
        types:
          - Copa de Agua
          - Copa de Vino Tinto o Blanco
          - Copa Champaña
          - Vaso Whiskero
          - Vaso Coctelero
        prices:
          - description: Precio Por Unidad
            cost: $0.90

      - src: /images/silver-cutlery-set.png
        alt: Juego de cubiertos color plateado
        title: Juego de Cubiertos Color Plateado - Tenedor, Cuchillo & Cuchara
        prices:
          - description: Precio Por Unidad
            cost: $3.75

      - src: /images/gold-cutlery-set.png
        alt: Juego de cubiertos color dorado
        title: Juego de cubiertos color dorado - Tenedor, Cuchillo & Cuchara
        prices:
          - description: Precio Por Unidad
            cost: $4.75
---
