/* Experience section */
.experience-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.experience-info {
  text-align: center;
}

.experience-info-subheading {
  color: var(--dark-blue-65);
}

@media only screen and (min-width: 768px) {
  .experience-info-container {
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }

  .experience-info {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1.5rem;
  }
}

/* Services section */
.services {
  display: grid;
  margin-top: 30px;
  gap: 2rem;
}

.services-section {
  padding-block: 0;
}

.services-container {
  background-color: var(--beige-200);
  border-radius: 10px;
  padding-block: 2.3rem;
  padding-inline: 1rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}

.img-services img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 3/2;
}

.service-title {
  margin-top: 25px;
  margin-bottom: 16px;
}

.service-subheading-description {
  color: var(--dark-blue-65);
  line-height: 163.2%;
  padding-inline: 10px;
  margin-bottom: 15px;
}

.service-link {
  color: var(--orange);
  font-size: 1.25rem;
}

@media only screen and (min-width: 768px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-container {
    padding-inline: 3.5rem;
  }

  .service-title {
    font-size: 1.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .services {
    grid-template-columns: repeat(4, 1fr);
  }

  .img-services img {
    aspect-ratio: 267/452;
  }
}

/* Process section */
.process-section-home-page {
  background-image: url('../images/process-section-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

@media (max-width: 1007px) {
  .process-section-home-page {
    background-image: none;
  }
}

/* Find us and Gallery Bg */
.find-us-and-gallery-bg {
  background-image: url(../images/leaves-gallery.png);
  background-repeat: repeat-y;
  background-size: 100% auto;
}

/* Gallery section */
.gallery-photos {
  display: grid;
  gap: 20px;
}

.gallery-info-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.813rem;
}

@media only screen and (min-width: 768px) {
  .gallery-photos {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Find us section */
.find-us-container {
  display: grid;
  align-items: center;
  gap: 3.75rem;
}

.find-us-info {
  display: grid;
  align-content: center;
  gap: 1.5rem;
  text-align: center;
  color: var(--dark-blue-70);
}

.find-us-map {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 100%;
  height: auto;
  aspect-ratio: 60/45;
}

@media only screen and (max-width: 767px) {
  .find-us-heading {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 768px) {
  .find-us-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* FAQs */
.faq-section {
  background-image: url(../images/faq-bg.png);
  background-repeat: repeat-y;
  background-size: 100% auto;
}

.faqs-heading {
  text-align: center;
}

.faqs-list {
  margin-top: 3rem;
  display: grid;
  gap: 1.5rem;
}

.faq {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  color: var(--font-colour-body-lighter);
  overflow: hidden;
}

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease-out;
  text-align: left;
}

.faq-header:hover,
.faq.open .faq-header {
  background-color: rgba(0, 0, 0, 0.05);
}

.faq-header-chevron {
  width: 12px;
  flex-shrink: 0;
  margin-left: 1rem;
  transition: transform 0.1s ease-out;
}

.faq.open .faq-header-chevron {
  transform: rotateZ(-180deg);
}

.faq-body {
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
}

.faq:not(.open) .faq-body {
  display: none;
}
