/* Nav Hamburguer Menu Color */
.site-nav-hamburger {
  color: var(--beige-100);
}

/* Wedding services details */
.wedding-services-details {
  background-image: url('../images/wedding-planner-leaves.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Process Section Reverse */
.process-container-reverse {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}

.process-img-container-reverse {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  justify-content: space-between;
  align-items: center;
}

.overlapping-img-reverse {
  width: 118%;
  z-index: 1;
}

@media (max-width: 1007px) {
  .process-container-reverse {
    grid-template-columns: 1fr;
  }

  .process-img-container-reverse {
    max-width: 500px;
    margin-inline: auto;
  }

  .testimonial-info-container-reverse {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 1008px) {
  .process-img-container-reverse {
    order: 1;
  }
}
