<!-- Swiper -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  media="print"
  onload="this.media='all'; this.onload=null;"
/>
<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
  defer
></script>
