---
page_id: product_rental
---

{% extends "layouts/base.njk" %}

{% block assets %}
  <link rel="stylesheet" href="/styles/catalog.css" />
  <script src="/scripts/catalog.js" defer></script>
{% endblock assets %}

{% block content %}
  <main class="catalog-page-bg-leaves">
    <section class="section catalog-page-section">
      <div class="container">
        <h1 class="h1">{{ heading }}</h1>

        <p class="subheading catalog-description">
          {{ subheadings.description }}
        </p>

        <div class="subheading section-subheading-title catalog-subheading">
          {{ subheadings.product_category }}
        </div>

        <div class="catalog-tabs">
          {% for tab in tabs %}
            <div
              data-target="#{{ tab.id }}"
              class="catalog-tab {{ 'active' if tab.active }}"
            >
              {{ tab.label }}
            </div>
          {% endfor %}
        </div>

        {% for tab in tabs %}
          <div
            id="{{ tab.id }}"
            class="catalog-cards {{ 'active' if tab.active }}"
          >
            {% for card in tab.cards %}
              <div class="catalog-card border-radius-shadow-img">
                <div class="catalog-card-img-container">
                  <img
                    class="catalog-card-img"
                    src="{{ card.src }}"
                    alt="{{ card.alt }}"
                  />
                </div>

                <div class="catalog-card-content">
                  <div class="card-title">{{ card.title }}</div>

                  {% if card.types %}
                    <div>{{ card.types_title }}</div>
                    <ul class="glasses-types-list">
                      {% for type in card.types %}
                        <li>{{ type }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}

                  {% for price in card.prices %}
                    <div class="card-price">
                      <div>{{ price.description }} <br />{{ price.br }}</div>
                      <div>{{ price.cost }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock content %}
