---
page_id: gallery
---

{% extends "layouts/base.njk" %}

{% block head %}
  <script src="/scripts/fslightbox.js" defer></script>
{% endblock head %}

{% block assets %}
  <link rel="stylesheet" href="/styles/gallery.css" />
  <script src="/scripts/gallery.js" defer></script>
{% endblock assets %}

{% block content %}
  <main class="gallery-page-bg-leaves">
    <section class="section gallery-page-section">
      <div class="container">
        <h1 class="h1">{{ heading }}</h1>
        <div class="subheading section-subheading-title gallery-subheading">
          {{ subheading }}
        </div>

        <div class="gallery-tabs">
          {% for tab in tabs %}
            <div
              data-target="#{{ tab.id }}"
              class="gallery-tab {{ 'active' if tab.active }}"
            >
              {{ tab.label }}
            </div>
          {% endfor %}
        </div>

        {% for tab in tabs %}
          <div
            id="{{ tab.id }}"
            class="gallery-images {{ 'active' if tab.active }}"
          >
            {% for image in tab.images %}
              <div class="gallery-img-container">
                <a data-fslightbox="gallery" href="{{ image.url }}">
                  <img
                    class="gallery-img border-radius-shadow-img"
                    src="{{ image.url }}"
                    alt="{{ image.alt }}"
                  />
                </a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock content %}
