---
page_id: our_story
---

{% extends "layouts/base.njk" %}

{% block assets %}
  <link rel="stylesheet" href="/styles/our-story.css" />
{% endblock assets %}

{% block content %}
  <main class="section about-me-section">
    <div class="container about-me-container">
      <h1 class="h1 about-me-heading">{{ heading }}</h1>
      <img
        class="border-radius-shadow-img"
        src="/images/about-me-img.png"
        alt="{{ img }}"
        sizes="(min-width: 1000px) 968px, 100vw"
        loading="eager"
        decoding="async"
      />
      <div class="about-me-info">
        {% for paragraph in paragraphs %}
          <p class="subheading">{{ paragraph }}</p>
        {% endfor %}
      </div>
    </div>
  </main>
{% endblock content %}
