---
page_id: wedding_planner
---

{% extends "layouts/base.njk" %}

{% block head %}
  {% include "components/swiper.njk" %}
  {% include "components/aos.njk" %}
{% endblock head %}

{% block assets %}
  <link rel="stylesheet" href="/styles/weddings.css" />
{% endblock assets %}

{% block content %}
  <main>
    <section class="events-hero">
      <img
        src="/images/wedding-hero-img.png"
        alt=" {{ hero.img }} "
        class="events-hero-banner"
      />

      <div class="events-hero-content">
        <h1 class="h1" data-aos="fade-up" data-aos-offset="0">
          {{ hero.heading }}
        </h1>
        <p
          class="subheading events-hero-description"
          data-aos="fade-up"
          data-aos-delay="300"
          data-aos-offset="0"
        >
          {{ hero.subheading }}
        </p>
        <a
          href="https://api.whatsapp.com/send?phone=19543268989"
          target="_blank"
          class="btn-primary"
          data-aos="fade-up"
          data-aos-delay="600"
          data-aos-offset="0"
        >
          {{ hero.cta }}
        </a>
      </div>
    </section>

    <div class="wedding-services-details">
      <section class="section" style="overflow-x: hidden;">
        <div class="container">
          <div class="section-header">
            <p class="subheading section-subheading-title">
              {{ services_details.subheading }}
            </p>
            <h2 class="h2">{{ services_details.heading }}</h2>
          </div>

          {% for service in services_details.services %}
            <div
              class="event-service-container
                {% if service.fade == 'fade-right' %}
                event-service-container-reverse
              {% endif %}
                "
              data-aos="{{ service.fade }}"
              {% if service.offset %}
                data-aos-offset="{{ service.offset }}"
              {% endif %}

              {% if service.placement %}
                data-aos-anchor-placement=" {{ service.placement }}"
              {% endif %}
              data-aos-duration="900"
            >
              <div class="event-img-container">
                <img
                  class="border-radius-shadow-img service-mobile-img
                        {% if service.fade == 'fade-left' %}
                    ml-auto
                  {% endif %}
                        "
                  style="object-position: {{ service.position }};"
                  src="{{ service.src }}"
                  alt="{{ service.alt }}"
                />
              </div>

              <div>
                <div class="step-number event-step-number">
                  {{ service.number }}
                </div>
                <h3 class="h4 event-step-title">{{ service.heading }}</h3>
                {% for description in service.description %}
                  <p class="subheading event-step-description">
                    {% if description.bold %}
                      <strong>{{ description.bold }} </strong>
                    {% endif %}
                    {{ description.paragraph }}
                  </p>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

      <section class="section process-section">
        <div class="container process-container-reverse">
          <div class="process-img-container-reverse">
            <div class="overlapping-img-reverse">
              <img
                class="border-radius-shadow-img"
                src="/images/ceremony-room-reverse.png"
                alt=" {{ process.img1 }} "
              />
            </div>
            <img
              class="border-radius-shadow-img"
              src="/images/kiss-wedding-reverse.png"
              alt=" {{ process.img2 }} "
            />
          </div>

          <div class="process-info">
            <p class="subheading section-subheading-title">
              {{ process.subheading }}
            </p>
            <h2 class="h2">{{ process.heading }}</h2>
            <div class="process-steps">
              <div class="step-1">
                <div class="step-number process-step-number">01</div>
                <div class="process-step-description step-one">
                  {{ process.step1 }}
                </div>
              </div>

              <div class="step-2">
                <div class="step-number process-step-number">02</div>
                <div class="process-step-description">{{ process.step2 }}</div>
              </div>

              <div class="step-3">
                <div class="step-number process-step-number">03</div>
                <div class="process-step-description">{{ process.step3 }}</div>
              </div>
            </div>
            <p class="subheading process-subheading-description">
              {{ process.description }}
            </p>
            <a
              href="https://api.whatsapp.com/send?phone=19543268989"
              target="_blank"
              class="btn-primary"
            >
              {{ process.cta }}
            </a>
          </div>
        </div>
      </section>
    </div>

    {% include "components/testimonials.njk" %}

    <section class="section event-gallery-section">
      <div class="container">
        <div class="event-gallery-header">
          <div>
            <p class="subheading section-subheading-title">
              {{ gallery.subheading }}
            </p>
            <h2 class="h2">{{ gallery.heading }}</h2>
          </div>
          <a
            href="./galeria-de-fotos-de-eventos-en-florida.html"
            class="btn-secondary"
          >
            {{ gallery.cta }}
          </a>
        </div>

        <div class="event-gallery-grid">
          {% for img in gallery.imgs %}
            <div
              class="event-gallery-img-container border-radius-shadow-img"
              style="grid-area: {{ img.grid_area }}"
              data-aos="zoom-in-up"
              data-aos-delay="{{ img.delay }}"
              data-aos-duration="500"
              data-aos-offset="0"
            >
              <img
                class="event-gallery-img"
                src="{{ img.src }}"
                alt="{{ img.alt }} "
              />
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
