<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <!-- Preloads -->
    {% block preloads %}{% endblock preloads %}

    <!-- Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if meta.title %}
      <meta name="title" content="{{ meta.title }}" />
    {% endif %}
    {% if meta.description %}
      <meta name="description" content="{{ meta.description }}" />
    {% endif %}
    {% if meta.keywords %}
      <meta name="keywords" content="{{ meta.keywords }}" />
    {% endif %}
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{ title }}</title>

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.png" />

    <!-- Canonical -->
    <link rel="canonical" href="{{ site.url }}{{ page.url | url }}" />

    {% block head %}{% endblock head %}

    <!-- Assets -->
    <link rel="stylesheet" href="/styles/shared.css" />
    <script src="/scripts/shared.js" defer></script>

    {% block assets %}{% endblock assets %}
  </head>

  <body>
    {% include "components/nav.njk" %}
    {% block content %}
      {{ content | safe }}
    {% endblock content %}
    {% include "components/footer.njk" %}
    {% include "components/whatsapp-button.njk" %}
    {% include "components/simple-analytics.njk" %}
  </body>
</html>
